<div class="wrapper">
    <h1>Contact Us</h1>
    <br /><br />
    <p>Thank you for considering The Guitar Center or all your musical needs. Whether you have a question about our products, need assistance with an order, or simply want to say hello, we're here to help!</p>
    <h3>Get in Touch</h3>
    <p>
        Have a question or need assistance? Our dedicated team is here to help you. Feel free to reach out to us via phone, email, or visit us in-store. We're committed to providing you with prompt and friendly assistance.
    </p>
    <br />
    <h3>Contact Information</h3>
    <p>
        <li>Phone: +64585454547</li>
        <li>Email: contactustheguitarcenter.com</li>
    </p>
    <br />
    <h3>Visit Us</h3>
    <p>
        Located in the heart of Auckland City, our store is a haven for musicians of all levels. Drop by to explore our selection of guitars, amplifiers, pedals, and accessories, or simply chat with our knowledgeable staff. We look forward to welcoming you!
    </p>
    <br />
    <h3>Store Address</h3>
    <p>
        The Guitar Center,
        Queen Street,
        Auckland CBD 1010,
        New Zealand.
    </p>
    <br />
    <h3>Business Hours</h3>
    <p>
        <li>Monday to Friday: 8am - 5pm</li>
        <li>Saturday: 8am - 4:30pm</li>
        <li>Sunday: 8am - 4:30pm</li>
    </p>
    <br/>
    <h3>We're Here to Help</h3>
    <p>At The Guitar Center, customer satisfaction is our top priority. If you have any feedback, suggestions, or concerns, please don't hesitate to let us know. Your input helps us improve our products and services for the entire musical community.

        Thank you for choosing The Guitar Center. We look forward to hearing from you!</p>

  </div>
  