<div class="column gap-1">
    <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Item"
    class="add-item-btn"
  ></button>

  <div class="row wrap gap-2 space-between">
    <app-items
      *ngFor="let item of items"
      [item]="item"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
    ></app-items>
  </div>

        <p-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[6, 12, 20]"
        (onPageChange)="onPageChange($event)"
        #paginator></p-paginator>
</div>